#topbar {
    position: absolute; /* position isn't relative to anything; specific position */
    top: 50px;
    left: 50px;
    width: calc(100% - 100px);
    background-color:aquamarine;
    height: 100px;
    display: flex;
    justify-content: center;
}


#main {
    border: 2px solid black;
    display: flex;
}

#secondary {
    border: 2px solid black;
}

#hidebutton {
    margin-bottom: 10px;
}

#showbutton {
    margin-bottom: 10px;
}

.lefthalf {
    width: 50%;
    border-right: 2px solid black;
    padding-right: 10px;
}

.righthalf {
    width: 50%;
    border-left: 2px solid black;
    padding-left: 10px;
}

